body {
    background-color: lightgrey;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-bar {
    display: flex;
    flex-direction: row;
}

#form {
    padding-top: 5rem;
}